* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    background-color: White;
    font-family: "Roboto", sans-serif;
}

.flex_01 {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
}

.section_nav {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: White;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
}

.imagen {
    display: block;
    height: 100%;
}

.nav_right {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box_search {
    width: 100%;
    height: 50px;
    background-color: Burlywood;
}

.form_search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search {
    display: block;
    width: 70%;
    height: 30px;
    padding-left: 10px;
    border: 1px solid Silver;
    border-radius: 15px 0px 0px 15px;
}

.send {
    display: block;
    width: 30px;
    height: 30px;
    color: rgb(100, 100, 100);
    border: 1px solid Silver;
    background-color: White;
}

.fa-magnifying-glass {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}

.fa-basket-shopping,
.fa-user {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    color: White;
}

.fa-bars {
    display: block;
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    color: White;
    border: 1px solid White;
}

.fa-bars:hover {
    background-color: rgb(130, 90, 35);
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background-color: Burlywood;
}

.burguer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.ul,
.ul_02,
.ul_03 {
    display: none;
    background-color: Burlywood;
}

@media all and (max-width: 299px) {
    body {
        display: none;
    }
}

@media all and (min-width: 300px) and (max-width: 750px) {
    .header {
        height: 200px;
    }

    .section_nav {
        height: 200px;
    }

    .nav {
        height: auto;
    }

    .logo {
        width: 100%;
        height: 100px;
    }

    .nav_right {
        width: 100%;
    }

    .box_search {
        width: 100%;
    }
}

@media all and (min-width: 751px) and (max-width: 1200px) {
    .header {
        width: 100%;
        height: 100px;
    }

    .section_nav {
        width: 100%;
        height: 100px;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 25%;
        height: 100px;
    }

    .nav_right {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }

    .box_search {
        width: 70%;
    }

    .menu {
        display: inline-block;
        width: 70%;
        height: 50px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .burguer {
        display: none;
    }

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .ul_02,
    .ul_03 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 50px;
    }

    .item {
        width: 20%;
        height: 50px;
        list-style: none;
    }

    .item_02,
    .item_03 {
        width: 40%;
        height: 50px;
        list-style: none;
    }

    .item:hover,
    .item_02:hover,
    .item_03:hover {
        background-color: rgb(130, 90, 35);
    }

    .anchor {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: White;
    }
}

@media all and (min-width: 1201px) {
    .header {
        width: 100%;
        height: 100px;
    }

    .section_nav {
        width: 100%;
        height: 100px;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 25%;
        height: 100px;
    }

    .nav_right {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }

    .box_search {
        width: 70%;
    }

    .menu {
        display: inline-block;
        width: 70%;
        height: 50px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .burguer {
        display: none;
    }

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .ul_02,
    .ul_03 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 50px;
    }

    .item {
        width: 20%;
        height: 50px;
        list-style: none;
    }

    .item_02,
    .item_03 {
        width: 40%;
        height: 50px;
        list-style: none;
    }

    .item:hover,
    .item_02:hover,
    .item_03:hover {
        background-color: rgb(130, 90, 35);
    }

    .anchor {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: White;
    }
}
