* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    background-color: White;
}

.section_nav {
    display: inline-block;
    width: 100%;
    height: 100px;
    background-color: Burlywood;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}

.logo {
    width: 50%;
    height: 100px;
    background-color: White;
}

.imagen {
    display: block;
    height: 100%;
}

.nav_right {
    width: 50%;
    height: 100px;
    background-color: Burlywood;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box_search {
    width: 100%;
    height: 50px;
    background-color: White;
}

.form_search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search {
    display: block;
    width: 70%;
    height: 30px;
    border: 1px solid Silver;
    border-radius: 15px 0px 0px 15px;
}

.fa-magnifying-glass {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    color: rgb(100, 100, 100);
    border: 1px solid Silver;
}

/*
                            <form action="" method="post" class="form_search">
                                <input type="search" name="" id="" class="search">
                            </form>
*/
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50px;
    background-color: Burlywood;
}

.burguer {
    width: 100px;
    height: 50px;
    background-color: rgb(45, 80, 45);
}

.ul,
.ul_02,
.ul_03 {
    display: none;
}

.ul {
    background-color: Burlywood;
}

.ul_02 {
    background-color: Darkseagreen;
}

.ul_03 {
    background-color: rgb(110, 110, 255);
}

@media all and (max-width: 299px) {
    body {
        display: none;
    }
}

@media all and (min-width: 300px) and (max-width: 750px) {
}

@media all and (min-width: 751px) and (max-width: 1200px) {
    .header {
        width: 100%;
        height: 100px;
        background-color: White;
    }

    .section_nav {
        width: 100%;
        height: 100px;
        background-color: Burlywood;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 25%;
        height: 100px;
    }

    .nav_right {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }

    .box_search {
        width: 75%;
    }

    .menu {
        display: inline-block;
        width: 75%;
        height: 50px;
        margin: 0px;
        background-color: Darkseagreen;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .burguer {
        display: none;
    }

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .ul_02,
    .ul_03 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        height: 50px;
    }

    .item {
        width: 15%;
        height: 50px;
        list-style: none;
        background-color: rgb(130, 90, 35);
    }

    .item_02 {
        width: 40%;
        height: 50px;
        list-style: none;
        background-color: rgb(45, 80, 45);
    }

    .item_03 {
        width: 40%;
        height: 50px;
        list-style: none;
        background-color: Darkblue;
    }

    .anchor {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
}

@media all and (min-width: 1201px) {
    .header {
        width: 100%;
        height: 100px;
        background-color: White;
    }

    .section_nav {
        width: 100%;
        height: 100px;
        background-color: Burlywood;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100px;
    }

    .logo {
        width: 25%;
        height: 100px;
    }

    .nav_right {
        width: 75%;
        flex-direction: row;
        justify-content: space-between;
    }

    .box_search {
        width: 75%;
    }

    .menu {
        display: inline-block;
        width: 75%;
        height: 50px;
        margin: 0px;
        background-color: Darkseagreen;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .burguer {
        display: none;
    }

    .ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    .ul_02,
    .ul_03 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 25%;
        height: 50px;
    }

    .item {
        width: 15%;
        height: 50px;
        list-style: none;
        background-color: rgb(130, 90, 35);
    }

    .item_02 {
        width: 40%;
        height: 50px;
        list-style: none;
        background-color: rgb(45, 80, 45);
    }

    .item_03 {
        width: 40%;
        height: 50px;
        list-style: none;
        background-color: Darkblue;
    }

    .anchor {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }
}
