* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: Silver;
}

.main {
    width: 90%;
    height: 1000px;
    margin: 0px auto;
}

.border {
    border: 1px solid Black;
}
