<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon. -->
        <link rel="shortcut icon" href="#" type="image/x-icon" />
        <!-- Font Awesome. -->
        <script src="https://kit.fontawesome.com/917887977d.js" crossorigin="anonymous"></script>
        <!-- Google Fonts. -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <!-- Normalize. -->
        <link rel="stylesheet" href="./css/normalize.css" />
        <!-- Styles. -->
        <link rel="stylesheet" type="text/css" href="./css/product.css" />
        <link rel="stylesheet" type="text/css" href="./css/header.css" />
        <link rel="stylesheet" type="text/css" href="./css/footer.css" />
        <title>Document</title>
    </head>

    <body class="body">
        <header class="header">
            <section class="section_nav">
                <nav class="nav">
                    <div class="logo">
                        <img src="./images/logo_argentum.jpg" alt="Logo" class="imagen" />
                    </div>

                    <div class="nav_right">
                        <div class="box_search">
                            <form action="#" method="post" class="form_search">
                                <input
                                    type="search"
                                    name="found"
                                    id="found"
                                    placeholder="Buscar"
                                    class="search"
                                />
                                <button type="submit" class="send">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>

                        <ul class="ul_02">
                            <li class="item_02">
                                <a href="#" class="anchor">Registro</a>
                            </li>
                            <li class="item_02">
                                <a href="#" class="anchor">Ingreso</a>
                            </li>
                        </ul>

                        <div class="menu">
                            <div class="burguer">
                                <i class="fa-solid fa-bars"></i>
                            </div>

                            <ul class="ul">
                                <li class="item">
                                    <a href="#" class="anchor">Menu 1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 4</a>
                                </li>
                            </ul>
                        </div>

                        <ul class="ul_03">
                            <li class="item_03">
                                <a href="#" class="flex_01">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                </a>
                            </li>
                            <li class="item_03">
                                <a href="#" class="flex_01">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section>
        </header>

        <main class="main border">
            <article class="product">
                <div class="img_product">
                    <img src="./images/PS5.jpg" alt="Foto 01" class="img" />
                </div>

                <div class="box_details">
                    <h1 class="h1">Play Station 5</h1>
                    <h2 class="h2">$ 180.950</h2>
                    <p class="paragraph">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea provident
                        nesciunt unde vitae molestiae. Fuga totam recusandae facere aliquid eum
                        saepe pariatur quibusdam ea odit architecto. Quis temporibus delectus
                        assumenda pariatur architecto reprehenderit, repellendus laboriosam facere
                        consequuntur quae aliquam dolores quod, maxime eaque placeat error possimus
                        numquam itaque excepturi. Excepturi, nulla, mollitia quae id a vel eaque
                        nesciunt ex cum debitis repudiandae, ab eligendi. Ad obcaecati optio
                        explicabo cumque dicta veritatis sequi iure, ipsam exercitationem sapiente
                        minima. Sapiente ducimus excepturi ad ea alias in rem atque, asperiores
                        consequatur? Aperiam dolore dolorum at rem impedit! Debitis officia eum
                        aspernatur ullam inventore!
                    </p>
                </div>

                <div class="buttons">
                    <button type="submit" class="button_product">Canasta</button>
                    <button type="submit" class="button_product">Comprar</button>
                </div>
            </article>
        </main>

        <footer class="footer">
            <div class="last_01"></div>

            <div class="last_02"></div>

            <div class="last_03"></div>
        </footer>
    </body>
</html>
