<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Favicon. -->
        <link rel="shortcut icon" href="#" type="image/x-icon" />
        <!-- Font Awesome. -->
        <script src="https://kit.fontawesome.com/917887977d.js" crossorigin="anonymous"></script>
        <!-- Google Fonts. -->
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <!-- Normalize. -->
        <link rel="stylesheet" href="./css/normalize.css" />
        <!-- Styles. -->
        <link rel="stylesheet" type="text/css" href="./css/index.css" />
        <link rel="stylesheet" type="text/css" href="./css/header.css" />
        <link rel="stylesheet" type="text/css" href="./css/footer.css" />
        <title>Document</title>
    </head>

    <body class="body">
        <header class="header">
            <section class="section_nav">
                <nav class="nav">
                    <div class="logo">
                        <img src="./images/logo_argentum.jpg" alt="Logo" class="imagen" />
                    </div>

                    <div class="nav_right">
                        <div class="box_search">
                            <form action="#" method="post" class="form_search">
                                <input
                                    type="search"
                                    name="found"
                                    id="found"
                                    placeholder="Buscar"
                                    class="search"
                                />
                                <button type="submit" class="send">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>

                        <ul class="ul_02">
                            <li class="item_02">
                                <a href="#" class="anchor">Registro</a>
                            </li>
                            <li class="item_02">
                                <a href="#" class="anchor">Ingreso</a>
                            </li>
                        </ul>

                        <div class="menu">
                            <div class="burguer">
                                <i class="fa-solid fa-bars"></i>
                            </div>

                            <ul class="ul">
                                <li class="item">
                                    <a href="#" class="anchor">Menu 1</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 2</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 3</a>
                                </li>
                                <li class="item">
                                    <a href="#" class="anchor">Menu 4</a>
                                </li>
                            </ul>
                        </div>

                        <ul class="ul_03">
                            <li class="item_03">
                                <a href="#" class="flex_01">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                </a>
                            </li>
                            <li class="item_03">
                                <a href="#" class="flex_01">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section>
        </header>

        <main class="main border">

            <h1>Seleccion de Futbol.</h1>

            <% for (let i = 0; i< players.length; i++) { %>

                <p>
                    <%= (i + 1) %> = <%= players[i] %>
                </p>

            <% } %>

        </main>

        <footer class="footer">
            <div class="last_01"></div>

            <div class="last_02"></div>

            <div class="last_03"></div>
        </footer>
    </body>
</html>
